<div class="container">
  <div class="row">
    <div class=" col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3" *ngFor="let calzado of listaCalzado">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h2>{{calzado.nombre}}</h2>
          </div>
          <div class="card-subtitle">
            {{calzado.tipo}}
          </div>
          <img [src]="calzado.imagen" [alt]="calzado.nombre" class="card-img-top">
          <div class="card-body">
            <p class="card-text"><strong>Color: </strong>{{calzado.color}}</p>
            <p class="card-text"><strong>Talla: </strong>{{calzado.talla}}</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p class="bg-success badge">{{calzado.precio | currency:'EUR'}}</p>
            <div class="buttons d-flex">
              <button class="btn" [routerLink]="'calzado/detail/' + calzado._id">
                <fa-icon [icon]="faEdit" class="text-primary"></fa-icon>
              </button>
              <button class="btn">
                <fa-icon [icon]="faShoppingCart"
                         (click)="addToPedido(calzado)"
                         class="text-success"></fa-icon>
              </button>
              <button class="btn">
                <fa-icon [icon]="faTrashCan"
                         (click)="borrarCalzado(calzado)"
                         class="text-danger"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
