<ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button"
       aria-expanded="false">Calzado</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLinkActive="active" routerLink="calzado/list">Listar</a></li>
      <li><a class="dropdown-item" routerLinkActive="active" routerLink="calzado/new">Nueva</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="pedido">Pedido</a>
  </li>

</ul>
